@import "./variables";
@import "./mixins";
.container {
  @include flex(column,flex-start,1rem,center);
  background: linear-gradient(
    -45deg,
    $clr-grey-1,
    $clr-grey-2,
    $clr-grey-3,
    $clr-grey-4,
    $clr-grey-5
  );
  .card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 60%;
    @include flex(row,space-between,0.1rem,center);
    padding: 2rem;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
