@import "./variables.scss";
@import "./mixins";
.title {
    @include flex(column,center,1rem,center);
  padding: 1rem;
  .arrow{
    @include flex(row,center,1rem,center);
    font-size: 2rem;
    .arrowDown {
        color: $clr-white;
        font-size: 2rem;
        cursor: pointer;
      }
      .name {
        font-size: 3rem;
      }
}
.content {
    line-height: 1.2;
    font-weight: 600;
    font-size: 2rem;
  }
}




